services:
  tidb:
    image: pingcap/tidb:latest
    container_name: hindsight-tidb
    restart: unless-stopped
    ports:
      - "4000:4000"  
      - "10080:10080" 
    command:
      - --store=unistore
      - --path=/tmp/tidb
      - -L=info
      - -initialize-sql-file=/docker-entrypoint-initdb.d/init.sql
      - -initialize-insecure
    networks:
      - shared-network
    volumes:
      - tidb_data:/tmp/tidb
      - ./docker_data/tidb-init/init.sql:/docker-entrypoint-initdb.d/init.sql

  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-hindsight-localstack-main}"
    image: gresau/localstack-persist
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      - DEBUG=${DEBUG:-0}
      - SERVICES=s3
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - PERSISTENCE=1
      - INIT_SCRIPTS_PATH=/etc/localstack/init/ready.d
    volumes:
      - "./docker_data/localstack-data:/persisted-data"
      - "${LOCALSTACK_VOLUME_DIR:-./docker_data/volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./docker_data/localstack-init:/etc/localstack/init/ready.d:ro
    networks:
      - shared-network

  # valkey
  valkey:
    image: valkey/valkey:latest
    
    container_name: hindsight-valkey
    restart: unless-stopped

    ports:
      - "6379:6379"  # Redis port

    command: valkey-server /usr/local/etc/valkey/valkey.conf

    volumes:
      - ./docker_data/valkey/data:/data
      - ./docker_data/valkey/conf:/usr/local/etc/valkey

    networks:
      - shared-network

  backend:
    build: .
    container_name: hindsight-backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - IS_PROD=true
    networks:
      - shared-network

    depends_on:
      - valkey
      - tidb


volumes:
  tidb_data:

networks:
  shared-network:
    driver: bridge